{% load static %}
<!--soshail midia-->
<div class="container-fulid" style="width: 99%;">
    <!--1-->
    <h1 style="color: rgb(197, 3, 3);" class="text-center">انظم لنا</h1>
    <div class="row justify-content-center">
      <div class="card text-center" style="width: 7rem; margin: 10px;margin: 10px;background-color:#cbcbcb;">
        <div class="card-body text-light">
          <h5 class="card-title">
            <a href="https://www.youtube.com/channel/UCNlwRWdjV69wDU6l6WMa-mA" target="_blank" class="card-link">
              <img src="{% static 'img/yotub.png' %}" class="myicon" alt="">
            </a>
          </h5>
          <a href="https://www.youtube.com/channel/UCNlwRWdjV69wDU6l6WMa-mA" target="_blank" class="card-link">انظم الان</a>
        </div>
      </div>
      <!--1-->
      <!--2-->
      <div class="card text-center" style="width: 7rem; margin: 10px;margin: 10px;background-color:#cbcbcb;">
        <div class="card-body text-light">
          <h5 class="card-title">
            <a href="https://web.telegram.org/z/#-1408752582" target="_blank" class="card-link">
              <img src="{% static 'img/tily.png' %}" class="myicon" alt="">
            </a>
          </h5>
          <a href="https://web.telegram.org/z/#-1408752582" target="_blank" class="card-link">انظم الان</a>
        </div>
      </div>
      <!--2-->
      <!--3-->
      <div class="card text-center" style="width: 7rem; margin: 10px;margin: 10px;background-color:#cbcbcb;">
        <div class="card-body text-light">
          <h5 class="card-title">
            <a href="https://t.me/phoenixar45" target="_blank"  class="card-link">
              <img src="{% static 'img/fcb.png' %}" class="myicon" alt="">
            </a>
          </h5>
          <a href="https://t.me/phoenixar45" target="_blank"  class="card-link">انظم الان</a>
        </div>
      </div>
      <!--3-->
      <!--4-->
      <div class="card text-center" style="width: 7rem; margin: 10px;background-color:#cbcbcb;">
        <div class="card-body text-light">
          <h5 class="card-title">
            <a href="https://www.instagram.com/mohammed_alkarblay45?r=nametag" target="_blank" class="card-link">
              <img src="{% static 'img/download.jpg' %}" class="myicon" alt="">
            </a>
          </h5>
          <a href="https://www.instagram.com/mohammed_alkarblay45?r=nametag" target="_blank" class="card-link">انظم الان</a>
        </div>
      </div>
      </div>
      <!--4-->
    </div>
  </div>
  <!--soshail midia-->
  <!--footer-->
  
  <footer class=" text-lihgt">
    <div class="container-fluid">

        <h1 id="q1" class=" text-center">يا يحيى خُذِ الْكِتَابَ بِقُوَّةٍ </h1><br>
        <h1 id="q2" class=" text-center">وَآتَيْنَاهُ الْحُكْمَ صَبِيّاً</h1><br>
        <h4 id="q3" class=" text-center">سورة مريم- اية 12</h4><br><br>
        <h6 style="color: red;"><br>جميع الحقوق محفوظة </h6>
    </div>
  </footer>
  <!--footer-->