{% extends 'base.html'%}
{% load static %}
{% block content %}
<!--logo-->
<div  class="text-center">
    <img id="logo" src="{% static 'img/logo2.png' %}" class="rounded" alt="...">
  </div>
  <!--logo-->
  <h1 style="color: red;" class="text-center">من نحن</h1>
  <div >
      <p id="p2" class="text-center" style="color: #000;">
       في محاولة لنشر محتوى علمي وعملي ممنهج يضع اساس قوي للمتابع
       <br>
        ويضعه في الطريق الصحيح ليبدء بداية قوية ويستمر في التعلم والابداع
        <br>
         قمت بأ نشاء منصة phoenix التعليمية راجايا من الله القبول والتوفيق
         <br>
          ومهديا عملي الى سادتي الاربعة عشر معصوم اولا
          <br>
            و الى كل من ساهم في انشاء واستمرار المشروع  ثانيا
           <br>
       محمد الكربلائي
       <br>
       طالب في كلية الهندسة قسم هندسة الكهرباء والكترونيك جامعة كربلاء
      </p>
   </div>
{% endblock %}